<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #layerForm="ngForm">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.idname" name="name" #idname="ngModel" autocomplete="off">
            <div [hidden]="idname.valid || idname.pristine" class="alert alert-danger">
                El nombre es obligatorio
            </div>
        </div>

        <div class="input-field">
            <select class="browser-default" id="type" required name="type">
                <option value="" disabled selected>Tipo de Capa</option>
                <option *ngFor="let type of types" [value]="type.val" >{{ type.name }}</option>
            </select>
            <!-- <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                Selecciona un tipo de capa
            </div> -->
        </div>

        <button type="submit" class="btn waves-effect waves-light full-btn" [disabled]="!layerForm.form.valid">Guardar <i class="far fa-save"></i></button><br>
        <button type="button" class="btn waves-effect waves-light red darken-3 full-btn" (click)="layerForm.reset()">Limpiar <i class="far fa-trash-alt"></i></button>
    </form>
</div>

<!-- <div [hidden]="!submitted">
    <h5>Datos de la nueva capa:</h5>
    <div class="row">
        <div class="col-xs-3">Nombre</div>
        <div class="col-xs-9">{{ model.idname }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Tipo</div>
        <div class="col-xs-9">{{ model.type }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div> -->