<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="menu-burguer" (click)="toggleMobileMenu()">
            <fa-icon [icon]="['fas', 'bars']"></fa-icon>
        </div>
        <span class="spacer"></span>
        <span>Visualizador YM</span>
    </mat-toolbar-row>
</mat-toolbar>

<div [ngClass]="menuOpen ? 'sidenav-mov sidenav-open' : 'sidenav-mov'" color="primary">
    <ul>
        <li *ngFor="let item of menus">
            <a [routerLink]="item.link" (click)="toggleMobileMenu()">{{ item.name }}</a>
        </li>
    </ul>
</div>
<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="menuOpen" (opened)="events.push('open!')" (closed)="events.push('close!')">
        Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <div class="nav">
    <div class="menu-burguer" (click)="toggleMobileMenu()">
        <span class="valign-helper"></span>
        <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
    </div>
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
</div> -->