.spacer
    flex 1 1 auto
.mat-toolbar
    height 8vh
    .mat-toolbar-row
        height 100%
.sidenav-container
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  max-width 70vw
  z-index 10000
// .nav
//     position fixed
//     top 0
//     display flex
//     width 100%
//     height 8vh
//     background-color #3f92de
//     color #ffffff
//     z-index 9999
//     .menu-burguer
//         flex-basis 15vw
//         align-self center
//         width 15vw
//         height 100%
//         text-align center
//         line-height 100%
.sidenav-mov
    position absolute
    top 8vh
    left -100vw
    width 100vw
    height 84vh
    z-index 9999
    transition 0.5s left ease-in-out
    &.sidenav-open
        left 0
    ul
        width 100vw
        height 100%
        margin 0
        padding 0
        list-style-type none
        li
            width 100%
            height 50px
            text-align center
            line-height 50px
            border-bottom 1px solid #ffffff
            &.active
                background-color rgba(0,0,0,0.3)
                font-weight 700
            &:first-child
                border-top 1px solid #ffffff
            a
                display block
                width 100%
                height 100%
                color #ffffff
                text-transform uppercase
                font-size 1.3em
//     .title
//         display flex
//         flex-basis 70vw
//         align-self center
//         width 70vw
//         height 100%
//         h1
//             width 100%
//             height 100%
//             margin 0
//             font-weight 200
//             font-size 1.8em
//             line-height 8vh
//             text-align center