<div class="nav">
    <div class="menu-burguer" (click)="toggleMobileMenu()">
        <span class="valign-helper"></span>
        <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
    </div>
    <div [ngClass]="menuOpen ? 'sidenav-mov sidenav-open' : 'sidenav-mov'">
        <ul>
            <li *ngFor="let item of menus">
                <a [routerLink]="item.link" (click)="toggleMobileMenu()">{{ item.name }}</a>
            </li>
        </ul>
    </div>
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
</div>