nav
    position absolute
    left 0
    top 0
    width 100%
    height 8vh
    background-color #3f92de
    color #ffffff
    .menu-burguer
        display inline-flex
        flex-direction row
        flex-basis 0
        flex-wrap wrap
        justify-content center
        align-items center
        width 15vw
        height 100%
        text-align center
        line-height 100%
        .menu-mobile
            position absolute
            top 8vh
            left -100vw
            width 100vw
            height 84vh
            background-color #3f92de
            color #ffffff
            z-index 9999
            transition 0.5s left ease-in-out
            &.menu-mov-open
                left 0
            ul
                width 100vw
                height 100%
                margin 0
                padding 0
                list-style-type none
                li
                    width 100%
                    height 50px
                    text-align center
                    line-height 50px
                    border-bottom 1px solid #ffffff
                    &:first-child
                        border-top 1px solid #ffffff
    .title
        position absolute
        top 0
        right 15vw
        width 70vw
        height 100%
        text-align center
        font-weight 200