.paymentMethods
    margin-bottom 50px
    color #3498DB
    text-align center
    @media (min-width 769px)
        width 80%
        margin-left 10%
    @media (max-width 768px)
        width 95%
        margin-left 2.5%
        margin-right 2.5%
    hr
        border-color #3498DB
        border-width 2px
    .methodContainer
        height 100%
        vertical-align middle
        color #888
        text-align center
        @media (min-width 769px)
            width 80%
            margin-left 10%
        @media (max-width 768px)
            width 100%
        p
            @media (min-width 769px)
                display inline-block
                max-width 60%
            @media (max-width 768px)
                width 100%
            margin-bottom 0
        img
            @media (min-width 769px)
                display inline-block
                max-width 39%
            @media (max-width 768px)
                width 100%
footer
    width 100%
    background-color brown
    color #FFF
    font-family 'Alegreya Sans', sans-serif
    .footer-container
        @media (min-width 769px)
            width 80%
            margin-right 10%
            margin-left 10%
        @media (max-width 768px)
            display table
            width 95%
            margin-left 2.5%
            margin-right 2.5%
        .site-info
            font-size 0.9em
            text-align justify
            @media (min-width 769px)
                display inline-block
                width 60%
                padding 0 10px 0 10px
            @media (max-width 768px)
                display table-footer-group
            .social
                margin-top 40px    
                margin-bottom 40px
                i
                    text-align center
                    vertical-align middle
                    margin-right 10px
            .bancos
                width 100%
                img                                       
                    max-width (100%/5)
                    max-height 40px
                    margin-right 10px
        .serv-cliente
            padding-left 5px
            padding-right 5px
            text-align center
            font-size 1em
            background-color rgba(0,0,0,0.2)
            @media (min-width 769px)
                display inline-block
                vertical-align top
                width 39%
            @media (max-width 768px)
                display table-header-group
            img
                height 70px
                width 70px
                margin-top -35px
                padding 10px
                border-radius 35px
                background-color brown
            a
                color #FFF
                border-bottom 2px solid #FFF
                &:hover
                    text-decoration none