@font-face
    font-family 'Archivo Narrow'
    src url(fonts/Archivo_Narrow/ArchivoNarrow-Regular.ttf)
@font-face
    font-family 'Abel'
    src url(fonts/Abel/Abel-Regular.ttf)
@font-face
    font-family 'Alegreya Sans'
    src url(fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf)
@font-face
    font-family 'Merienda'
    src url(fonts/Merienda/Merienda-Regular.ttf)
.hidden
    display none
.lg-hidden
    @media (min-width 769px)
        display none !important
.sm-hidden
    @media (max-width 768px)
        display none !important