<!-- <div class="main-content">
    <div class="container">
        <div class="clear20"></div>
        <ul class="collection with-header">
            <li class="collection-header">
                <h4>
                    Información
                    <small>v 1.0.0</small>
                </h4>
            </li>
            <li class="collection-item">
                <div>Manual
                    <a href="#!" class="secondary-content">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>Acerca de
                    <span class="secondary-content">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div> -->
<div class="main-content">
    <div class="container">
        <h4>Información <small>v 1.1.0 (Material Design)</small></h4>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Manual
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Content of panel</p>
        </mat-expansion-panel>
        <div class="clear20"></div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Acerca de...
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Content of panel</p>
        </mat-expansion-panel>
    </div>
</div>