#map
    min-height 350px
    @media screen and (min-width 992px)
        min-height 600px
    .mapboxgl-canvas-container
        canvas
            width 100%
            margin 0 -15px
            padding 0 15px
.acciones-capa
    button
        margin 0 5px