<div class="container">
    <div class="row">
        <h1 class="col-12">Administración de Capas</h1>
        <p class="col-12">En esta sección podra realizar operaciones sobre las capas que se encuentran cargadas actualmente en el sistema.</p>
    </div>
    <hr>
    <div class="row">
        <h3 class="col-12">Visualizar capas actuales</h3>
    </div>
    <div class="row">
        <div class="col-12 col-sm-5">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-actual-tab" data-toggle="tab" href="#nav-actual" role="tab" aria-controls="nav-actual" aria-selected="true">Capas Actuales</a>
                    <a class="nav-item nav-link" id="nav-nueva-tab" data-toggle="tab" href="#nav-nueva" role="tab" aria-controls="nav-nueva" aria-selected="false">Nueva Capa</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-actual" role="tabpanel" aria-labelledby="nav-actual-tab">
                    <div class="accordion" id="capasActuales">
                        <div class="card" *ngFor="let capa of layers; let i = index;">
                            <div class="card-header" id="header-capa{{ i }}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#capa{{ i }}" aria-expanded="true" attr.aria-controls="capa{{ i }}">
                                                {{ capa.id | uppercase }}
                                            </button>
                                </h2>
                            </div>

                            <div id="capa{{ i }}" class="collapse" attr.aria-labelledby="header-capa{{ i }}" data-parent="#capasActuales">
                                <div class="card-body acciones-capa">
                                    <button *ngIf="btnsShow[i] == 0" id="buttonShow{{ i }}" type="button" class="btn btn-info btn-show" (click)="verCapa(i)">Visualizar</button>
                                    <button *ngIf="btnsShow[i] == 1" id="buttonHide{{ i }}" type="button" class="btn btn-warning btn-show" (click)="ocultarCapa(i, capa.id)">Ocultar</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteLayerModal" (click)="cargarCapaAEliminar(i, capa.id)">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="nav-nueva" role="tabpanel" aria-labelledby="nav-nueva-tab">
                    <div class="row">
                        <h3 class="col-12 text-center">Agregar capa nueva</h3>
                        <form class="col-12" id="formNewLayer" [formGroup]="formCapa" (ngSubmit)="onSubmitFormCreate()">
                            <div class="form-group col-12">
                                <label for="archivoCapa">Seleccione un archivo GeoJSON para cargar<span class="text-danger">*</span></label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="archivoCapa" [formControl]="form.fileCapa" (change)="prepareFile($event)">
                                    <label class="custom-file-label" for="customFile">Elegir archivo</label>
                                </div>
                                <div *ngIf="formSubmitted && form.fileCapa.invalid && form.fileCapa.errors.required" class="alert alert-danger fade show" role="alert">
                                    <span>Debes seleccionar un archivo para cargar</span>
                                </div>
                                <!-- <input type="file" class="form-control-file" id="archivoCapa"> -->
                            </div>
                            <div class="form-group col-12">
                                <label>Nombre de la capa<span class="text-danger">*</span></label>
                                <input (change)="changeForm()" [formControl]="form.nombreCapa" class="form-control" type="text">
                                <div *ngIf="formSubmitted && form.nombreCapa.invalid && form.nombreCapa.errors.required" class="alert alert-danger fade show" role="alert">
                                    <span>El nombre de la capa es obligatorio</span>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label>Seleccione un tipo de capa<span class="text-danger">*</span></label>
                                <select class="form-control" [formControl]="form.tipoCapa">
                                    <option>Linea</option>
                                    <option>Poligono</option>
                                    <option>Puntos</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-success btn-block" value="Cargar">
                                <button type="reset" class="btn btn-danger btn-block">Limpiar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 clear20" *ngIf="_scnSz.isMobile()"></div>
        <div class="col-12 col-sm-7" id="map"></div>
        <div class="col-12 clear20" *ngIf="_scnSz.isMobile()"></div>
        <div class="col-12 clear20" *ngIf="_scnSz.isMobile()"></div>
    </div>
</div>


<!-- Modal Confirmacion Borrar Capa -->
<div class="modal fade" id="deleteLayerModal" tabindex="-1" role="dialog" aria-labelledby="deleteLayerModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLayerModalTitle">Confirmar Eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de que deseas eliminar la capa?</p>
                <p>Esta operacion no puede deshacerse.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Confirmar</button>
                <!-- <button type=" button " class="btn btn-danger " (click)="eliminarCapa(i) ">Confirmar</button> -->
            </div>
        </div>
    </div>
</div>