/* You can add global styles to this file, and also import other style files */
/*
    HELPERS
*/
.clear10
    clear both
    height 10px
.clear20
    clear both
    height 20px
.clear50
    clear both
    height 50px